{% extends "base.html" %}

{% block content %}
<div class="row">

  <div class="col-8">
    <h2>Новости</h2>
    {% for news in news_list %}
      <h3><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h3>
      <p>{{ news.published.strftime('%d.%m.%Y') }}</p>
      <hr />
    {% endfor %}
  </div>
  <div class="col-4">
    <h2>Прогноз погоды</h2>
    {% if weather_text %}
      {{ weather_text.temp_c }}, ощущается как {{ weather_text.feelslike_c }}
    {% else %}
      Прогноз погоды не доступен
    {% endif %}
  </div>
</div>
{% endblock %}