{% extends "base.html" %}

{% block content %}
<div class="row">

  <div class="col-8">
    <h2>Новости</h2>
    {% for news in news_list %}
      <h3><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h3>
      <p>{{ news.published.strftime('%d.%m.%Y') }}</p>
      <hr />
    {% endfor %}

    {% if posts %}
      {% for post in posts %}
        <h3>{{ post.user_id }}</a></h3>
        <p>{{ post.body }}</p>
        <hr />
      {% endfor %}
    {% endif %}

  </div>
  <div class="col-4">
    <h2>Прогноз погоды</h2>
    {% if weather_text %}
      {{ weather_text.temp_c }}, ощущается как {{ weather_text.feelslike_c }}
    {% else %}
      Прогноз погоды не доступен
    {% endif %}
  </div>

  {% if form%}
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.post.label }}<br>
        {{ form.post(cols=32, row=4) }}
        {% for error in form.post.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  {% endif %}

</div>

{% block post_in %} {% endblock post_in %}

{% endblock %}